.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    
    
}
.log{
    font-size: large;
    font-size: 25px;
    padding-left: 50px;
    font-weight: bold;
}
span{
    color: blue;
}
.links ul{
    color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;  
    width: 900px; 
}
.links ul li{
    justify-content: space-between;
    list-style-type: none;
        
}
.links ul li a{
    color:black;
    text-decoration: none;
    font-size: 20px; 
    padding: 0px 10px 40px 20px;
    font-weight: bold;
}
.links ul li button{
    background-color: blue;
}
.header-sect{
    text-align: center;
    color: white
}
.header-sect h1{
    font-size: 50px;
    padding-top: 100px;

}
.header-sect p{
    font-size: 18px;
    padding-bottom: 50px;
    line-height: 40px;
}
.btns{
    text-align: center;
    padding-top: 30px;
    
}
.first-page{
    background-image: url(images/bg.png);
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;  
    
}
.about{
    background-color: white;
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
}
.about-us{
    padding: 5%;
}
.about-img{
    padding-top: 15px;
}
    

.about-us{
    font-weight: normal;
}

.about-us h3{
    font-size: 24px;
    font-weight: 550;
}
.about-us p{
    line-height: 30px;
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 30px;
}
button{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: blue;     
}
.get-in-touch{
    background-image: url(images/Rectangle\ 11.png);
    background-image: cover;
    height: 600px;
    background-size:100%;
    background-repeat: no-repeat;
}
.ars{
    text-align: center;
    padding-top: 50px;
    color: white;
}
.ars h1{
    padding-bottom: 30px;
    font-size: 45px;
}
.ars h3{
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: normal;
}
.services h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.serv{
    display: flex;
    justify-content: space-evenly;

}
.services{
    padding-bottom: 50px;
}
.airline{
    margin: 0px;
    border-radius: 5px;
    border:1px solid white;
    box-shadow: 0px 2px 0px 0px grey;
     
}
.airline p{
    padding:20px;
    line-height: 20px;

}
.airline h2{
    padding-left: 20px;
}
.closing-sect{
    background-color:  rgb(51, 51, 243);
    display: flex;
    justify-content: space-evenly;
    height: 700px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact{
    color: white;
    padding-top: 30px;
}
.contact h2{
    font-size: 18px;
    font-weight: bold;

}
.contact p{
font-size:20px ;
font-weight: lighter;
}
.txt{
border: 1px solidwhite;
background-color: white;
display:inline-table;
margin-top: 50px;
margin-bottom: 50px;
width: 400px;
padding-left: 30px;
padding-top: 20px;
}




















/* footer */

footer{
    text-align: center;
    background-color:rgb(75, 67, 80);
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 24px;
    color: white;
    font-weight: lighter;

}



